<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hong.support.mapper.SysDictItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.hong.entity.support.SysDictItem">
        <id column="sys_dict_item_id" property="sysDictItemId" />
        <result column="sys_dict_id" property="sysDictId" />
        <result column="item_text" property="itemText" />
        <result column="item_value" property="itemValue" />
        <result column="item_desc" property="itemDesc" />
        <result column="sort_order" property="sortOrder" />
        <result column="item_state" property="itemState" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_dict_item_id, sys_dict_id, item_text, item_value, item_desc, sort_order, item_state, create_by, update_by, created_at, updated_at
    </sql>

</mapper>
