<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hong.auth.mapper.UserAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.hong.entity.auth.UserAuth">

        <id column="AUTH_ID" property="authId"/>
        <result column="USER_ID" property="userId"/>
        <result column="IDENTITY_TYPE" property="identityType"/>
        <result column="IDENTIFIER" property="identifier"/>
        <result column="CREDENTIAL" property="credential"/>
        <result column="SALT" property="salt"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        AUTH_ID, USER_ID, IDENTITY_TYPE, IDENTIFIER, CREDENTIAL, SALT, CREATE_TIME, UPDATE_TIME
    </sql>

    <select id="selectByLogin" resultMap="BaseResultMap">
        select a.*
        from aw_user_auth a
                 left join aw_user u on a.user_id = u.user_id
        where a.identity_type = #{idType}
          and a.identifier = #{identifier}
    </select>


</mapper>
