server:
  port: 9010
spring:
  application:
    name: hong
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  main:
    allow-bean-definition-overriding: true
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/hong?zeroDateTimeBehavior=convertToNull&useUnicode=true&characterEncoding=utf-8&autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8
    username: root
    password: root
    hikari:
      idle-timeout: 50000
      connection-timeout: 60000
      validation-timeout: 3000
      max-lifetime: 60000
      minimum-idle: 100
      maximum-pool-size: 300
      login-timeout: 5
      read-only: false
      connection-test-query: SELECT 1 FROM DUAL
  cache:
    type: redis
  redis:
    host: 127.0.0.1
    port: 6379
    timeout: 1000
    database: 15
logging:
  level:
    root: info
    web: debug
    com.github.hong: debug
  file:
    name: ./logs/hong.log #日志存放位置以及名称
mybatis-plus:
  configuration:
    database-id: mysql
    map-underscore-to-camel-case: true
  global-config:
    banner: false
    db-config:
      id-type: input
hong:
  captcha:
    enabled: false # 是否开启验证码
    expire: 300 # 验证码有效期，单位秒
  auth:
    allow-cross-origin: true # 是否开启跨域，开发环境建议开启，生产环境建议再NG上进行配置
    access-token-name: iToken # TOKEN 名称
    access-token-exp: 120    # TOKEN 有效期，单位分钟
    pri-key-file-path: key/auth_rsa.pri # 私钥文件路径
    pub-key-file-path: key/auth_rsa.pub # 公钥文件路径
  swagger:
    enabled: true
    production: false
    basic:
      enable: true
      username: hong
      password: hong
    auth-key: ${hong.auth.access-token-name:iToken}
    global-operation-parameters:
      - name: app_language
        description: 语言环境
        required: true
        defaultValue: zh_CN
        allowEmptyValue: false
        order: 1
    docket:
      auth:
        title: 认证模块
        base-path:
          - ${server.servlet.context-path}
        base-package: com.github.hong.auth
      support:
        title: 支撑模块
        base-path:
          - ${server.servlet.context-path}
        base-package: com.github.hong.support
      log:
        title: 日志模块
        base-path:
          - ${server.servlet.context-path}
        base-package: com.github.hong.log